---
layout: base.njk
title: Alejandro Antoraz — contacto
pagina: contacto
permalink: /contacto/
---

<div class="cv">
  <h2>contacto</h2>
  <p><a href="mailto:antoraz@proton.me">antoraz@proton.me</a></p>

  <h2>rrss</h2>
  <p>IG: <a href="https://www.instagram.com/alejantoraz_foto">alejantoraz_foto</a></p>
  <p>Be: <a href="https://www.behance.net/alejantoraz">behance.net/alejantoraz</a></p>
  <p>Flickr: <a href="https://www.flickr.com/photos/alejantoraz/">flickr.com/photos/alejantoraz/</a></p>
</div>
