---
pagination:
  data: galeria
  size: 1
  alias: proyecto
permalink: "/proyectos/{{ proyecto.nombre | slug }}/"
layout: base.njk
title: "{{ proyecto.nombre }}"
pagina: proyectos
---

<div class="cabecera-proyecto">
  <div class="descripcion-proyecto">
    {{ proyecto.descripcionHtml | safe }}
  </div>

  <a href="/" class="volver">← volver a proyectos</a>
</div>

<div class="fotos-proyecto">
  {% for imagen in proyecto.imagenes %}
    <img src="{{ imagen }}" alt="{{ proyecto.nombre }}" loading="lazy">
  {% endfor %}
</div>
