---
pagination:
  data: galeria
  size: 1
  alias: proyecto
permalink: "/proyectos/{{ proyecto.nombre | slug }}/"
layout: base.njk
title: Alejandro Antoraz
pagina: proyectos
---

<div class="cabecera-proyecto">
  <div class="descripcion-proyecto">
    {{ proyecto.descripcionHtml | safe }}
  </div>

  <a href="/" class="volver">← volver a proyectos</a>
</div>

<div class="fotos-proyecto">
  {% for imagen in proyecto.imagenes %}
    <a href="#foto-{{ loop.index }}" class="foto-link">
      <img src="{{ proyecto.imagenesMini[loop.index0] or imagen }}" alt="{{ proyecto.nombre }}" loading="lazy">
    </a>
    <div class="lightbox" id="foto-{{ loop.index }}">
      <a href="#" class="lightbox-cerrar">
        <img src="{{ imagen }}" alt="{{ proyecto.nombre }}">
      </a>
    </div>
  {% endfor %}
</div>

<a href="/" class="volver">← volver a proyectos</a>
